<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.tw.mapper.NoticeMapper">
  
  <insert id="insNotice" parameterType="notice" useGeneratedKeys="true" keyProperty="id" >
  insert into notice(title,date,content,author) values (#{title},#{date},#{content},#{author})
  </insert>
  
  <select id="selByDate" parameterType="java.lang.String" resultType="notice"><![CDATA[ <= ]]>
  select * from notice where date <![CDATA[ > ]]>  #{0}
  </select>
  
  <select id="selAllNoticeByDate" resultType="notice">
  select * from notice order by date desc
  </select>
  
  <select id="selById" parameterType="int"  resultType="notice">
  select * from notice where id =#{0}
  </select>
    <select id="selCount" resultType="long">
      select count(*) from notice
    </select>
  <select id="selByPage" resultType="hotPost">
      select id,title,href,date,author from notice limit #{start},#{limit}
  </select>

  <select id="selCountById" parameterType="long" resultType="long">
    select count(*) from staffcollection where noticeid = #{0}
  </select>

    <select id="selNoticeById" resultType="notice" parameterType="int">
        select * from notice where id = #{0}
    </select>


</mapper>