<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tw.mapper.ProvinceCityAreaMapper">
    <!-- 开启二级缓存 -->
    <cache></cache>
	<!-- <resultMap type="Provinces" id="BaseResultMap">
		<id property="provinceId" column="province_id" javaType="java.lang.String" />
		<result property="provinceName" column="province_name" javaType="java.lang.String" />
	</resultMap> -->
	<select id="selAllProvinces"  resultType="provinces">
		select * from province
	</select>
	
	<select id="selProByProName" parameterType="java.lang.String" resultType="provinces">
		select * from province where provinceNname=#{name}
	</select>
	
	<select id="selProByProId" parameterType="java.lang.String" resultType="provinces">
		select * from province where provinceId=#{id}
	</select>
	
	<select id="selCitiesByProvinceId" parameterType="java.lang.String" resultType="cities">
		select * from city where provinceId=#{id}
	</select>
	
	<select id="selCityByCityName" parameterType="java.lang.String" resultType="cities">
		select * from city where cityName=#{0} and provinceId=#{1}
	</select>
	
	<select id="selCityById" parameterType="java.lang.String" resultType="cities">
		select * from city where cityId=#{id}
	</select>
	
	<select id="selAreasByCityId" parameterType="java.lang.String" resultType="areas">
		select * from area where cityId=#{id}
	</select>
	
	<select id="selAreaByAreaName" parameterType="java.lang.String" resultType="areas">
		select * from area where areaName=#{0} and cityId=#{1}
	</select>
	
	<select id="selAreaById" parameterType="java.lang.String" resultType="areas">
		select * from area where areaId=#{id}
	</select>
	
</mapper>