<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.tw.mapper.SalaryMapper">


  <resultMap type="salary" id="salaryinfo">
    <id property="id" column="id"/>
    <result property="jobid" column="jobid" />
    <result property="name" column="name" />
    <result property="departid" column="departid" />
    <result property="jiesuanyuefen" column="jiesuanyuefen" />
    <result property="jibengongzi" column="jibengongzi" />
    <result property="jiangli" column="jiangli"/>
    <result property="chengfa" column="chengfa"/>
    <result property="jiabangongzi" column="jiabangongzi"/>
    <result property="kuanggonggongzi" column="kuanggonggongzi"/>
    <result property="qingjiagongzi" column="qingjiagongzi"/>
    <result property="chuchaigongzi" column="chuchaigongzi"/>
    <result property="shijijiesuan" column="shijijiesuan"/>
    <!--这里的  association  必须放在result之后，否则会报  SAXParseException  的错误，标签顺序问题-->
    <association property="department" column="departid"
                 select="com.tw.mapper.DepartmentMapper.selDepartmentByDepartid" />
  </resultMap>


    <insert id="insertSalaryInfo" parameterType="salary">
        insert into salary(jobid,name,departid,jiesuanyuefen,jibengongzi,jiangli,chengfa,jiabangongzi,kuanggonggongzi,qingjiagongzi,chuchaigongzi,shijijiesuan)
        values(#{jobid},#{name},#{departid},#{jiesuanyuefen},#{jibengongzi},#{jiangli},#{chengfa},#{jiabangongzi},#{kuanggonggongzi},#{qingjiagongzi},#{chuchaigongzi},#{shijijiesuan})
    </insert>
    <update id="updateSalaryInfo">
      update salary set jiesuanyuefen =#{jiesuanyuefen},jibengongzi =#{jibengongzi},jiangli =#{jiangli},
      chengfa =#{chengfa},jiabangongzi =#{jiabangongzi},kuanggonggongzi =#{kuanggonggongzi},
      qingjiagongzi =#{qingjiagongzi},chuchaigongzi =#{chuchaigongzi},shijijiesuan =#{shijijiesuan}
       where id = #{id}

    </update>

    <select id="selByJobId" parameterType="int" resultType="salary">
  select * from salary where jobid = #{0}
  </select>
  
  <select id="selCount" parameterType="salary" resultType="long">
  select count(*) from salary
  <where>
  <if test="name != null and name != ''">   <!-- 可以使用and naem like concat('%',#{name},'%') -->
  and name like concat('%',#{name},'%')
  </if>
  <if test="departid != null and departid != ''">
    and departid = #{departid}
  </if>
  <if test="jiesuanyuefen != null and jiesuanyuefen !=''"><!-- create_date_time <![CDATA[ >= ]]> #{startTime} and  create_date_time <![CDATA[ <= ]]> #{endTime} -->
  and jiesuanyuefen = #{jiesuanyuefen}
  </if>
  <if test="minjibengongzi != null and minjibengongzi != ''">
  and jibengongzi <![CDATA[ >= ]]> #{minjibengongzi} and jibengongzi <![CDATA[ <= ]]> #{maxjibengongzi}
  </if>
  <if test="maxjibengongzi != null and maxjibengongzi != ''">
  and jibengongzi <![CDATA[ <= ]]> #{maxjibengongzi}
  </if>
  <if test="jiangli != null and jiangli != ''">
  and jiangli <![CDATA[ >= ]]> #{jiangli}
  </if>
  <if test="chengfa != null and chengfa != ''">
  and chengfa <![CDATA[ >= ]]> #{chengfa}
  </if>
  <if test="jiabangongzi != null and jiabangongzi != ''">
  and jiabangongzi <![CDATA[ >= ]]> #{jiabangongzi}
  </if>
  <if test="kuanggonggongzi != null and kuanggonggongzi != ''">
  and kuanggonggongzi <![CDATA[ >= ]]> #{kuanggonggongzi}
  </if>
  <if test="qingjiagongzi != null and qingjiagongzi != ''">
  and qingjiagongzi <![CDATA[ >= ]]> #{qingjiagongzi}
  </if>
  <if test="chuchaigongzi != null and chuchaigongzi != ''">
  and chuchaigongzi <![CDATA[ >= ]]> #{chuchaigongzi}
  </if>
  <if test="minshijijiesuan != null and minshijijiesuan != ''">
  and shijijiesuan <![CDATA[ >= ]]> #{minshijijiesuan} and shijijiesuan <![CDATA[ <= ]]> #{maxshijijiesuan}
  </if>
  <if test="maxshijijiesuan != null and maxshijijiesuan != ''">
  and shijijiesuan <![CDATA[ <= ]]> #{maxshijijiesuan}
  </if>
  </where>
  </select>
  
  <select id="selByPage" resultMap="salaryinfo">
  select * from salary
    <where>
      <if test="name != null and name != ''">   <!-- 可以使用and naem like concat('%',#{name},'%') -->
        and name like concat('%',#{name},'%')
      </if>
      <if test="departid != null and departid != ''">
        and departid = #{departid}
      </if>
      <if test="jiesuanyuefen != null and jiesuanyuefen !=''"><!-- create_date_time <![CDATA[ >= ]]> #{startTime} and  create_date_time <![CDATA[ <= ]]> #{endTime} -->
        and jiesuanyuefen = #{jiesuanyuefen}
      </if>
      <if test="minjibengongzi != null and minjibengongzi != ''">
        and jibengongzi <![CDATA[ >= ]]> #{minjibengongzi} and jibengongzi <![CDATA[ <= ]]> #{maxjibengongzi}
      </if>
      <if test="maxjibengongzi != null and maxjibengongzi != ''">
        and jibengongzi <![CDATA[ <= ]]> #{maxjibengongzi}
      </if>
      <if test="jiangli != null and jiangli != ''">
        and jiangli <![CDATA[ >= ]]> #{jiangli}
      </if>
      <if test="chengfa != null and chengfa != ''">
        and chengfa <![CDATA[ >= ]]> #{chengfa}
      </if>
      <if test="jiabangongzi != null and jiabangongzi != ''">
        and jiabangongzi <![CDATA[ >= ]]> #{jiabangongzi}
      </if>
      <if test="kuanggonggongzi != null and kuanggonggongzi != ''">
        and kuanggonggongzi <![CDATA[ >= ]]> #{kuanggonggongzi}
      </if>
      <if test="qingjiagongzi != null and qingjiagongzi != ''">
        and qingjiagongzi <![CDATA[ >= ]]> #{qingjiagongzi}
      </if>
      <if test="chuchaigongzi != null and chuchaigongzi != ''">
        and chuchaigongzi <![CDATA[ >= ]]> #{chuchaigongzi}
      </if>
      <if test="minshijijiesuan != null and minshijijiesuan != ''">
        and shijijiesuan <![CDATA[ >= ]]> #{minshijijiesuan} and shijijiesuan <![CDATA[ <= ]]> #{maxshijijiesuan}
      </if>
      <if test="maxshijijiesuan != null and maxshijijiesuan != ''">
        and shijijiesuan <![CDATA[ <= ]]> #{maxshijijiesuan}
      </if>
    </where>
  limit #{pagestart},#{pagesize}
  </select>
  
  </mapper>